:root {
  --color-human: #a16023;
}

@keyframes show {
  100% {
    opacity: 1;
  }
}

.animation {
  animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
  opacity: 0;
}

.head {
  composes: animation;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 10px solid var(--color-human);
  position: absolute;
  top: 50px;
  right: -30px;
}

.body {
  composes: animation;
  width: 10px;
  height: 100px;
  background: var(--color-human);
  position: absolute;
  top: 120px;
  right: 0;
}

.limb {
  composes: animation;
  width: 100px;
  height: 10px;
  background: var(--color-human);
  position: absolute;
}

.rightArm {
  composes: limb;
  top: 150px;
  right: -100px;
  rotate: -30deg;
  transform-origin: left bottom;
}

.leftArm {
  composes: limb;
  top: 150px;
  right: 10px;
  rotate: 30deg;
  transform-origin: right bottom;
}

.rightLeg {
  composes: limb;
  top: 210px;
  right: -90px;
  rotate: 60deg;
  transform-origin: left bottom;
}

.leftLeg {
  composes: limb;
  top: 210px;
  right: 0;
  rotate: -60deg;
  transform-origin: right bottom;
}
