.head {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 10px solid black;
  position: absolute;
  top: 50px;
  right: -30px;
}

.body {
  width: 10px;
  height: 100px;
  background: black;
  position: absolute;
  top: 120px;
  right: 0;
}

.limb {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
}

.rightArm {
  composes: limb;
  top: 150px;
  right: -100px;
  rotate: -30deg;
  transform-origin: left bottom;
}

.leftArm {
  composes: limb;
  top: 150px;
  right: 10px;
  rotate: 30deg;
  transform-origin: right bottom;
}

.rightLeg {
  composes: limb;
  top: 210px;
  right: -90px;
  rotate: 60deg;
  transform-origin: left bottom;
}

.leftLeg {
  composes: limb;
  top: 210px;
  right: 0;
  rotate: -60deg;
  transform-origin: right bottom;
}
